[% IF rest.ok %]
    [% IF rest.message %]
    <div class="col-md-10 success alert-success">
        [% rest.message | html %]
    </div>
    [% END %]
    <script type="text/javascript">
        window.setTimeout(	window.close, 300 );
    </script>
[% ELSE %]
    [% PROCESS inc/form.tt %]
[% END %]
