[% WRAPPER inc/wrapper.tt page_title='Recover Username' %]
<div class="row">
	<div class="col-middle-half">
		<p class="alert alert-info" role="alert">
			You <b>must</b> have access to your registered email account to recover your username.<br />
		</p>
		[% PROCESS inc/form.tt %]
	</div>
</div>
[% END %]
