[% WRAPPER inc/wrapper.tt page_title='Change Password' %]
<div class="row">
	<div class="col-middle-half">
	[% IF error %]
		<div class="alert alert-danger" role="alert">
			[% error | html %]
		</div>
	[% ELSE %]
		[% PROCESS inc/form.tt (no_ajax=error?1:0) %]
	[% END %]
	</div>
</div>
[% END %]
