[% WRAPPER inc/wrapper.tt page_title='Change Password' %]
<div class="row justify-content-md-center">
	<div class="col-md-auto">
	[% IF error %]
		<div class="alert alert-danger" role="alert">
			[% error | html %]
		</div>
	[% ELSE %]
		[% PROCESS inc/form.tt %]
	[% END %]
	</div>
</div>
[% END %]
