[% WRAPPER inc/wrapper.tt page_title='Log In' %]
<div class="row">
	<div class="col-middle-half">
		[% PROCESS inc/form.tt %]
		<p>
			<a href="[% c.uri_for('/recover-username') %]">Forgotten username</a>
			or
			<a href="[% c.uri_for('/reset-password') %]">forgotten password</a> ?
		</p>
	</div>
</div>
[% END %]
