[% WRAPPER inc/wrapper.tt page_title='Create Account' %]
<div class="row">
	<div class="col-middle-half">
		<p>
			Sorry, creating new accounts is temporarily disabled until we can implement an effective anti-spam system.<br/>
			If you require an account, please ask in in-game chat and someone will point you in the right direction.
		</p>
		<a href="[% c.uri_for('/privacy') %]">TauHead Privacy Policy</a>
	</div>
</div>
[% END %]
