[% WRAPPER inc/wrapper.tt page_title='Create Account' %]
<div class="row justify-content-md-center">
	<div class="col-lg-auto">
		[% PROCESS inc/form.tt %]
		<a href="[% c.uri_for('/privacy') %]">TauHead Privacy Policy</a>
	</div>
</div>
[% END %]
