[% WRAPPER inc/wrapper.tt page_title='Item Download' %]
<div class="row">
	<div class="col-middle-half">
		<span class="oi oi-data-transfer-download" title="Download" aria-hidden="true"></span>
		[% form %]
	</div>
</div>
[% END %]
