[% WRAPPER inc/wrapper.tt page_title=mission.name mermaid=1 %]
<div class="row">
	<div class="col offset-md-2 offset-lg-3">
		<h3>[% mission.name | html %]</h3>
	</div>
</div>
<div class="row">
	<div class="col">
	[% FOREACH graph IN mermaid_graphs %]
		<div class="mermaid">[% graph %]</div>
	[% END %]
	</div>
</div>
[% END %]
