[% WRAPPER inc/wrapper.tt page_title='Verify Email' %]
<div class="row">
	<div class="col-middle-half">
		<div class="alert alert-danger" role="alert">
		[% IF error %]
			[% error %]
		[% ELSE %]
			Sorry, an error occured, please try again.
		[% END %]
		</div>
	</div>
</div>
[% END %]
